.App {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem 2rem;
  background-color: #3b5998;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: #fff;
}

.header select {
  height: 2rem;
  width: 8rem;
}

section {
  padding: 2rem;
}
.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
}